*{
    margin: 0;
}
body{
  width: 100vw;
  height: 100vh;
}
header {
  padding: 2rem;
  background-color:purple;
}
nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
}
a {
  color: white;
}
ul {
  display:flex;
  list-style:none;
  align-items: center;
  gap: .8rem;
}
#image_home{
  margin-top: 1.5rem;
  text-align: center;
  justify-content: center;
}